.navigation-status-ticker-content-no-link {
	border: 1px solid white !important;
	border-radius: 0.5rem !important;
}

.ticker-button {
	background-image: var(--Ticker) !important;
    border: 2px solid white !important;
    padding: 2px !important;
    border-radius: 50px !important;
}